#person{
    display: flex;
    justify-content: center;
    align-items: center;
}
#person img{
    width: 10rem;
    height: auto;
}
 html{
        background-color: black;
        justify-content: center;
        display: flex;
 }
body{
    width:80%;
    background-color: white;
}
@media (max-width:1240px){
    body{
        width:80%;
    }
    html{
        background-color: white;
    }
}