body{
    width:80%;
    background-color: white;
}

html{
    background-color: black;
    justify-content: center;
    display: flex;
}
main{
    display:grid;
    grid-template-columns: 70% 30%;
    padding: 1rem 2rem;
}
#metin h1{
    font-size: 250%;
}
#metin h2{
    font-size:200%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 1px dotted black;
}
#metin p{
    font-size: 150%;
}
#katalog ul{
    position: sticky; 
    top: 0; 
    overflow-y:scroll;
    max-height: 650px;
}
#katalog li{
    border-bottom: 1px dotted black;
    list-style: none;
    padding: 1rem 0;   
}
#katalog li:last-child{
    border:none;
}
#katalog a{
    font-size: 180%;
}
#katalog p{
    font-size: 120%;
}

.poem{
    display: grid;
    gap:2rem;
}
#og{
    display: none;
}
button{
    background-color: white;
    border:none;
}
#trans-button{
    border-bottom: 1px solid black;
}
button:hover{
    background-color: rgb(184, 180, 180);

}
.referans{
    font-style: italic;
    margin: 1rem 2rem;
}
.chapter{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}
#second-main-title{
    font-size: 180%;
    font-weight: bold;
}
h4{
    font-size: 170%;
}
h5{
    font-size: 150%;
}

.lucrece-inside{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap:1rem;
    align-items: center;
}
.lucrece-inside img{
    width:80%;
    height: auto;
}

.turkce-ad{
    font-style:italic ;
    font-size: 200%;
    color: rgb(45, 44, 44);
}



.modal-content {
    max-width: auto;
    max-height: 100%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #ccc;
}
#imageModal{
    display: none;
    background-color: rgb(17, 17, 17, 0.9);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


 
@media (max-width:1240px){
    main{
        grid-template-columns: 100%;
    }
    body{
        width:100%;
    }
    html{
        background-color: white;
    }
    .lucrece-inside{
        grid-template-columns: 100%;
    }
    #katalog ul{
        position:relative;
        overflow-y: visible;
        padding-bottom:2rem;
    }
 
}