.paintingofthemonth{
    display: grid;
    justify-content: center;
}
.paintingofthemonth img{
    width:70%;
    height:auto;
    margin: 0 auto;
}
.paintingofthemonth p{text-align: center;}
#highlight{
    display: grid;
    justify-content: center;
}

p{
    font-size: 150%;
}
h2{
    font-size: 200%;
    text-align: center;
}
.titles{
    border: 1px solid rgb(30, 29, 29);
}
#ofthe{
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(2, 30rem);
    justify-content: space-evenly;
    gap: 2rem;
}
#ofthe h2{
    color: rgb(115, 6, 6);
}
h4{
    font-size: 180%;
}
#ofthe h3{
font-size: 150%;
font-style:italic ;
}
#ofthe li{
    list-style: none;
    padding: 1rem;
}
#ofthe li:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.paragraph{
    width:90%;
    margin:0 auto;
}

@media (max-width:1240px){
    #ofthe{
        grid-template-columns: 100%;
        justify-content: center; /* Ortalamayı sağlar */
        gap: 1rem; /* Aralıkları azaltır */
        margin:0;
        padding:0;
    }
    #ofthe li {
        width: 100%; /* Liste öğelerini genişletir */
        border:none;
    }
    .paintingofthemonth img{
        width:100%;
        margin-left:1rem;

    }
    main{
        margin:0;
        padding:0;
    }
    .paintingofthemonth{
        margin:0;
        padding:0;
        justify-content: center;
    }
    
}